p {
      color: rgb(255, 255, 255);
    }
    
    body {
      background-color: rgb(22, 22, 22);
    }
    
    h1 {
      font-size: 1.5em;
    }
    .animation-box {
        width: 300px;
        height: 300px;
        background-image: url('./images/garf.png');
        background-size: cover;
        position: relative;
        animation: move 1s infinite alternate;
      }
      
      @keyframes move {
        from {
          bottom: 0px;
        }
        to {
          bottom: 100px;
        }
      }
      .animation-box {
  position: fixed;
  bottom: 0;
  left: 70%;
  transform: translateX(-70%);
}
.custom-navbar {
  background-color: rgb(255, 176, 30);
}
.form-floating {
  max-width: 400px;
  width: 100%;
}
.card {
  background-color: rgb(255, 176, 30);
  position: relative;
  left: 100px;
  top: 100px;
}
.card img {
  transition: transform 0.3s;
}

.card img:hover {
  transform: scale(1.4);
}
 .hero {
      height: 100vh;
      background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                  url(./images/gar.jpg) center/cover;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .carousel-inner > .item > img {
   width:300px;
   height:100px;
 }
 .carousel {
   width:550px;
   height:360px;
    margin:0 auto;
 }
 .carousel-caption {
   background-color: rgba(0, 0, 0, 0.5);
   padding: 10px;
   border-radius: 5px;
   bottom: 40%;
    transform: translate(0, 50%);
 }
  .carousel-caption h5 {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
  }
  @media (min-width: 992px) {
    .carousel-caption h5 {
      font-size: 4rem;
    }
  }