p {
      color: rgb(132, 148, 255);
    }
    
    body {
      background-color: rgb(201, 190, 255);
    }
    
    h1 {
      font-size: 2em;
    }
    .content-box {
  padding: 10px;
  margin: 5px;
  background-color: rgb(255, 219, 253);
  border: 1px solid #ccc;
}
table {
      width: 50%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #f2f2f2;
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: rgb(99, 103, 255);
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: rgb(132, 148, 255);
    }
    .transition-button {
        background-color: rgb(99, 103, 255);
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .transition-button:hover {
        background-color: rgb(255, 219, 253);
      }
      .animation-box {
        width: 50px;
        height: 50px;
        background-color: rgb(146, 181, 183);
        position: relative;
        animation: move 2s infinite alternate;
      }
      
      @keyframes move {
        from {
          left: 0;
        }
        to {
          left: 1450px;
        }
      }
      .pseudo-list li:nth-child(odd) {
        background-color: rgb(255, 219, 253);
      }
      
      .pseudo-list li:nth-child(even) {
        background-color: rgb(159, 157, 255);
      }
.filter-image {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
      }
      
      .filter-image:hover {
        filter: grayscale(0%);
      }
      .quote {
        position: relative;
        padding-left: 20px;
        font-style: italic;
      }
      
      .quote::before {
        content: '“';
        font-size: 40px;
        position: absolute;
        left: 0;
        top: 0;
        color: lightgray;
      }